# Helm으로 설치
- name: Install Prometheus Stack using Helm
  ansible.builtin.command:
    cmd: >
      helm upgrade --install kube-prometheus-stack
      prometheus-community/kube-prometheus-stack
      --namespace monitoring
      --create-namespace
      --values {{ playbook_dir }}/../roles/monitoring/values.yml
      --timeout 15m
      --wait

  environment:
    KUBECONFIG: "{{ kubeconfig }}"
  register: monitoring_prometheus_install
  changed_when: "'has been installed' in monitoring_prometheus_install.stdout"

# 그라파나 뜰 때까지 기다림
- name: Wait for Grafana to be ready (port 3000)
  ansible.builtin.wait_for:
    port: 3000
    delay: 10

# 쿠버네티스 Secret에서 랜덤 비밀번호 꺼내오기
- name: Get Grafana Secret from K8s
  kubernetes.core.k8s_info:
    kind: Secret
    name: kube-prometheus-stack-grafana
    namespace: monitoring
  register: monitoring_grafana_secret_raw

- name: Set Grafana Password Fact
  ansible.builtin.set_fact:
    monitoring_grafana_admin_password: "{{ monitoring_grafana_secret_raw.resources[0].data['admin-password'] | b64decode }}"

# 비밀번호로 로그인해서 Loki 등록
- name: Loki 데이터소스 자동 등록
  ansible.builtin.uri:
    url: "http://localhost:3000/api/datasources"
    method: POST
    user: admin
    password: "{{ monitoring_grafana_admin_password }}"
    force_basic_auth: true
    body_format: json
    body:
      name: Loki
      type: loki
      url: "http://loki.logging.svc.cluster.local:3100"
      access: proxy
      isDefault: true
    status_code: [200, 409]

# 사용자에게 비밀번호 알려주기
- name: "Show Grafana Login Info"
  ansible.builtin.debug:
    msg:
      - "---------------------------------------------------"
      - "Grafana URL: http://localhost:3000"
      - "ID: admin"
      - "PW: {{ monitoring_grafana_admin_password }}"
      - "---------------------------------------------------"
