---
- name: Ensure logging namespace exists
  kubernetes.core.k8s:
    name: logging
    kind: Namespace
    state: present

- name: Apply Kubernetes Manifests
  kubernetes.core.k8s:
    src: "{{ item }}"
    state: present
  loop:
    - "{{ role_path }}/manifests/loki-configmap.yaml"
    - "{{ role_path }}/manifests/loki-service.yaml"
    - "{{ role_path }}/manifests/loki-deployment.yaml"
    - "{{ role_path }}/manifests/promtail-configmap.yaml"
    - "{{ role_path }}/manifests/promtail-daemonset.yaml"
    - "{{ role_path }}/manifests/promtail-rbac.yaml"

