---
- name: Deploy Logging Stack to Kind Cluster
  hosts: localhost
  connection: local
  tasks:
    - name: Ensure logging namespace exists
      kubernetes.core.k8s:
        name: logging
        kind: Namespace
        state: present

    - name: Apply Kubernetes Manifests
      kubernetes.core.k8s:
        src: "{{ item }}"
        state: present
      loop:
        - "./roles/logging/manifests/loki-configmap.yaml"
        - "./roles/logging/manifests/loki-service.yaml"
        - "./roles/logging/manifests/loki-deployment.yaml"
        - "./roles/logging/manifests/promtail-configmap.yaml"
        - "./roles/logging/manifests/promtail-daemonset.yaml"

